@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.clickable {
  cursor: pointer;
}

body {
  transition: background-image 0.6s ease-in-out, background-color 0.3s ease;
}

/* Rain effect */
.rain {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.drop {
  position: absolute;
  top: -20px;
  width: 2px;
  height: 20px;
  animation: fall linear infinite;
  background-color: rgba(2, 1, 1, 0.541);
}

.dark .drop {
  background-color: rgb(255 255 255 / 0.7);
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
